#products {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50%;
}

#chart {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50%;
	height: 50%;
}

#chart #title {
	font-size: xx-large;
}

#chart #data {
	position: absolute;
	width: 100%;
	height: 90%;
	bottom: 20px;
}

#chart #data > canvas {
	position: absolute; 
	bottom: 0;
}

#chart #XAxis > div {
	position: absolute;
	bottom: 0;
	text-align: center;
}

#chart #XAxis {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	border-top: 1px solid #38eaf7;
}